.header{
    min-height: 60px;
    background-color: rgb(107, 128, 171);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
 display: flex;
 min-height: 300px;

}
.main_content{
    min-height: 100px;
    width: 70%;
    background-color: rgb(105, 159, 221);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main_right{
    min-height: 100px;
    width: 40%;
    background-color: rgb(139, 152, 193);
    text-align: center;
}
.content{
    min-height: 100px;
    background-color: rgb(78, 101, 234);
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_row{
    width: 100%;
}
.main_row{
    display: flex;
    justify-content: space-between;
  
}

footer{
min-height: 80px;
background-color: rgb(118, 116, 238);
display: flex;
align-items: center;
justify-content: space-around; 
font-size: 20px;
text-align: center; 
}
.par{
    min-height: 50px;
    width: 180px;
    border: 1px solid blueviolet;
    background-color: rgb(115, 177, 240);
    
}

